body{
    padding-top:50px;
    background: #4B4B4B;
    font-weight: 300;
    overflow: auto;
}

li{list-style: none;}


.navbar-collapse{float:right;}

.navbar-inverse .navbar-brand, #navbar a {
    color:#d1d1d2;
}


#navbar a:hover{
    color:#fff;
    
}
#header{
    background:#232323;
    color:#d1d1d2;
    font-weight:500;
}

#contents{
    min-height:700px;
    background: #4B4B4B;
    color:#fff;
    
}

#footer{
    background: #232323;
    color:#fff;
    padding-bottom:20px;

}


#footer div div{
    padding-top:20px;
}


.foot_menu li{
    padding:4px 0;    
}

.copyright{
    text-align: center;
    font-size: 13px;
}