body {
	padding-top: 50px;
	background: #232323;
	font-weight: 300;
	overflow: auto;
}

ul, ol, dl, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
}

.navbar-collapse {
	float: right;
}

.navbar-inverse .navbar-brand, #navbar a {
	color: #d1d1d2;
}

#navbar a:hover {
	color: #fff;
}

#header {
	background: #232323;
	color: #d1d1d2;
	font-weight: 500;
}

#contents {
	min-height: 700px;
	background: #4B4B4B;
	color: #fff;
}

#footer {
	background: #232323;
	color: #fff;
	padding-bottom: 20px;
}

#footer div div {
	padding-top: 20px;
}

.foot_menu li {
	padding: 4px 0;
}

.copyright {
	text-align: center;
	font-size: 13px;
}




/* 버튼 스타일 */

.btn-style1{
	opacity: 0.9;
	display: block;
	width: 200px;
	text-align: center;
	margin: 0 auto;
	background: #ef1c7b;
	padding: 10px;
	border-radius: 4px;
	font-size:16px;
	font-weight: 500;
	border: 1px solid #000;
	cursor: pointer;
}

.btn-style1:hover{
	opacity:1;
}





/* 멤버 스타일 */

.member{
	max-width:600px;
	width:100%;
	margin:0 auto;
}
	
	
.member span{
	display:block;
	font-size:16px;
	font-weight:400;
}

.member input{
	height:40px;
	width:100%;
	
	margin-top:5px;
	margin-bottom:20px;
}