body {
	padding-top: 50px;
	background: #232323;
	font-weight: 300;
	overflow: auto;
}

a:link { color: inherit; text-decoration: none;}
a:visited { color: inherit; text-decoration: none;}
a:hover { color: inherit; text-decoration: none;}

ul, ol, dl, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
}

.navbar-collapse {
	float: right;
}

.navbar-inverse .navbar-brand, #navbar a {
	color: #d1d1d2;
}

#navbar a:hover {
	color: #fff;
}

#header {
	background: #232323;
	color: #d1d1d2;
	font-weight: 600;
}

#contents {
	min-height: 700px;
	background: #4B4B4B;
	color: #fff;
}

#footer {
	background: #232323;
	color: #fff;
	padding-bottom: 20px;
}

#footer div div {
	padding-top: 20px;
}

.foot_menu li {
	padding: 4px 0;
}

.copyright {
	text-align: center;
	font-size: 13px;
}


input{
	color: #000;
	
}




.shinys{
	
	-webkit-transition: all 0.5s ease;
	-khtml-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	
}


.inner-container{
	position:relative;
}


/* 버튼 스타일 */

.btn-style1{
	opacity: 0.8;
	display: block;
	width: 200px;
	text-align: center;
	margin: 0 auto;
	background: #ef1c7b;
	padding: 10px;
	border-radius: 4px;
	font-size:16px;
	font-weight: 600;
	border: 1px solid #000;
	cursor: pointer;
}

.btn-style1:hover{
	opacity:1;
}


/* 테두리 버튼 */
.btn-style2{
	position:absolute;
	padding:10px;
	font-weight:600;
	font-size:16px;
	top:20px;
	right:0;
	border:3px solid #fff;
	border-radius:5px;
	opacity:0.8;
}

.btn-style2:hover{
	opacity:1;
	background:#fff;
	color:#000;
}


/* 비밀번호 찾기 */
.btn-style3{
	display:inline-block;
	margin-left:10px;
	cursor: pointer;
	font-size:16px;
	font-weight: 600;
}



.add-btn1{display:inline-block; margin:23px 0 0 10px; width:25px; height:25px; line-height:17px; font-size:25px; background:#232323; color:#fff; text-align:center;  font-weight:900; border:1px solid #fff;
	opacity:0.8;
	cursor:pointer;
}
.add-btn1:hover{
	opacity:1;
}



/* 멤버 스타일 */

.member{
	max-width:600px;
	width:100%;
	margin:0 auto;
}
	
	
.member span{
	display:block;
	font-size:16px;
	font-weight:500;
}

.member input{
	height:40px;
	width:100%;
	
	margin-top:5px;
	margin-bottom:20px;
}


/* 레이블 스타일 */
.lable-style1{
	background:#333;
	padding:50px;
	text-align:center;
}





/* 반응형 설정 */
.col-shinys-1{
 	width:64.6%;
 	float:left;
 }
 
 .col-shinys-offset{
 	margin-left:2%;
 }
 
 
@media (max-width: 767px) {
  .erd-box-list .erd-box-item{
  	width:100%;
  	margin-right:0px;
  }
  
  .erd-box-list .erd-box-item:nth-child(3n) {
	margin-right: 0px;
  }

  .erd-box-list .erd-box-item:nth-child(2n) {
	margin-right: 0px;
  }
  
  
  .lable-style1{
  	margin-top:20px;
  	margin-bottom:50px;
  }
  
  
  /* 유수 - 변응형 컬럼생성 */
  
  .col-shinys-1{
  	width:100%;
  	float:none;
  }
  
  .col-shinys-offset{
  	margin-left:0;
  }

}


@media (max-width: 1024px) {
  .erd-box-list .erd-box-item{
  	width:49%;
  	margin-right:2%;
  }
  
  .erd-box-list .erd-box-item:nth-child(3n) {
	margin-right: 2%;
  }

  .erd-box-list .erd-box-item:nth-child(2n) {
	margin-right: 0px;
  }

}


 





